*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

.page__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
  -webkit-justify-content: row;
      -ms-flex-pack: row;
          justify-content: row;
}

.page__nav {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page__nav .nav__active {
  box-shadow: inset 3px 0px 0px #3D3D3E;
}
.page__nav ul {
  margin: 0;
  padding: 0;
}
.page__nav ul ul {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #3D3D3E;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page__nav ul ul li:hover {
  background-color: #000000;
  box-shadow: inset 0px 0px 0px #3D3D3E;
}
.page__nav ul ul li a {
  color: #fff;
}
.page__nav ul li:hover > ul {
  min-width: 200px;
}
.page__nav span {
  display: block;
  padding-top: 25px;
  width: 100%;
  height: 150px;
  color: #fff;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #3D3D3E;
}
.page__nav span img {
  width: 100px;
}
.page__nav ul li {
  display: block;
  list-style: none;
}
.page__nav ul li:hover {
  box-shadow: inset 3px 0px 0px #3D3D3E;
}
.page__nav ul li a {
  display: block;
  padding: 24px 52px;
  color: #272727;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px rgba(150, 150, 150, 0.1);
}

.page__content {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 auto;
  padding: 16px;
  width: 70vw;
  height: 100vh;
  z-index: -2;
}
.page__content h1 {
  margin: 0;
  padding: 16px 0px;
  color: #272727;
  font-family: sans-serif;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
